* {
  text-align: center;
}
html, body {
  background: #063647;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
header {
  color: #5865f2;
}
footer {
  font-size: 15px
}
h2 {
  color: #5865f2;
}
a {
  color: lightgreen;
  text-decoration: underline;
}
textarea {
  padding: 5px;
  margin-bottom: 10px;
  color: white;
  box-sizing: border-box;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
  background-color: #424242;
  font-size: 16px;
  resize: none;
}
hr {
  width: 75%;
  height: 2px;
  border-width: 0;
  background-color: gray;
  color: gray;
}
img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
input[type=number] {
  padding: 10px;
  margin: 10px 0px;
  border: solid 2px #5865f2;
  border-radius: 10px;
}
label {
  color: lightgreen;
  font-size: 21px;
}